# Xcode (from gitignore.io)
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Others
*.swp
!.gitkeep
.DS_Store

# このプロジェクト独自のもの

# Docker
Docker/.env

# Prisma
Backend/node_modules
Backend/.env
